* {
    box-sizing: border-box;
}
.reservation-view {
    opacity: 1;
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}
.reservation-view:hover {
    background-color: #fcf9f9;
}

.scrollable-y {
    height: calc(100vh - 150px);
    overflow-x: hidden;
}
.scrollable-y-not-vh {
    height: calc(100% - 130px);
    overflow-x: hidden;
}
.scrollable-y-50vh {
    height: calc(70vh);
    overflow-x: hidden;
}
.scrollable-x-not-vw {
    width: calc(100% - 20px);
    overflow-y: hidden;
}
/* Input container */
.input-container {
    position: relative;
    margin: 20px;
    width: 85%;
}
.active-reservation {
    background-color: #f5fafa;
    /*border: 3px black !important;*/
}
.info-text, .info-text-lg {
    opacity: 70%;
}
.info-text {
    font-size : 14px;
}
.info-text-lg {
    font-size : 15px;
}
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
    top: -20px;
    font-size: 18px;
    color: #007bff;
}

.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}

.settings-header-border {
    width: 100%;
    margin-bottom: 10px;
    border: black solid 1px;
    border-radius: 1em;
}
.settings-header-border, .settings-header-border .settings-heading-subtitle {
    text-align: left;
    padding: 0 20px;
    margin-top: -20px;
}
.settings-heading-subtitle{
    cursor: pointer;
}

.settings-header-border > span, .settings-header-border .settings-heading-subtitle > span {
    background-color: white;
    box-shadow: white 11px 0 0, white -13px 0 0;
}
.settings-header-border .settings-heading-subtitle > span:after {
    top: -13px;
}

.react-calendar__month-view__days__day--weekend {
    color: black !important;
}

.disabled-day {
    color: #ea1414 !important;
}

.disabled-day_transfer {
    color: #ea1414 !important;
    opacity: 25% !important;
    pointer-events: none;
}

.react-calendar__tile:disabled {
    background-color: white !important;
    opacity: 50% !important;
    cursor: not-allowed;
}
.react-calendar__navigation button:disabled {
    background-color: transparent !important;
    color: black !important;
}

.box_shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}
