.beach {
    width: 89%;
    height: 50px;
    background-color: #fddac5;
    position: relative;
    overflow: hidden;
}

.wave {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 400%;
    background-image: linear-gradient(to bottom, #c1dceb 0%, #0078a8 50%, #c1dceb 100%);
    transform-origin: bottom;
    transform: skewY(-12deg);
    animation: wave 4s linear infinite;
}

.wave::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f9fbfd 50%, #eaf3f9 100%);
    opacity: 0.8;
}
.content-card .gazebo-select-button {
    background-color: rgba(255, 255, 255, 0.6) !important;
    color: black;
}
.opacity-35 {
    opacity: 0.35;
}
@keyframes wave {
    0% {
        transform: skewY(-5deg) translateY(-100%);
    }
    50% {
        transform: skewY(-2deg) translateY(-55%);
    }
    100% {
        transform: skewY(-3deg) translateY(-100%);
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 10% !important;
    font-size: 25px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.gazebo-selection-carousel .carousel-inner {
    padding: 1.5rem 2.0rem;
}
.gazebo-selection-carousel .carousel-caption {
    padding: 15px 10px 0 10px;
}
.gazebo-selection-carousel .carousel-item.active {
    padding-bottom: 40px;
}

@media screen and (max-width: 281px){
    .gazebo-selection-carousel img {
        width: 20px;
        height: 20px;
    }
    .current-gazebo-pin {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 350px) {
    .gazebo-selection-carousel img {
        width: 27px;
        height: 27px;
    }
    .current-gazebo-pin {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 350px) and (max-width: 500px) {
    .gazebo-selection-carousel img {
        width: 30px;
        height: 30px;
    }
    .current-gazebo-pin {
        width: 26px;
        height: 26px;
    }
}
@media screen and (min-width: 500px) and (max-width: 768px){
    .gazebo-selection-carousel img {
        width: 36px;
        height: 36px;
    }
    .current-gazebo-pin {
        width: 32px;
        height: 32px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .gazebo-selection-carousel img {
        width: 45px;
        height: 45px;
    }
    .current-gazebo-pin {
        width: 38px;
        height: 38px;
    }
}
@media screen and (min-width: 992px){
    .gazebo-selection-carousel img {
        width: 50px;
        height: 50px;
    }
    .current-gazebo-pin {
        width: 43px;
        height: 43px;
    }
}
