.gazepo-type-img, .gazepo-type-img-sm {
    transition: transform 0.3s ease;
}

.gazepo-type-img:hover {
    transform: scale(1.02);
}

.gazepo-type-img-sm:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.breadcrumb-item a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #537ba8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#app {
    height: 100vh;
}

.list-group-item.active {
    background-color: #D3D3D3;
    border-color: #DCDCDC;
}

.carousel-inner {
    padding: 1.5rem 2.3rem;
}

.gazebo-card {
    position: relative;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;;
}

.gazebo-card .bg {
    position: absolute;
    top: 8px;
    /*left: 6px;*/
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #c1dceb 0%, #0078a8 50%, #c1dceb 100%);
    opacity: 1;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    -webkit-animation: blob-bounce 5s infinite ease;
    animation: blob-bounce 5s infinite ease;
}

@-webkit-keyframes blob-bounce {
    0% {
        -webkit-transform: translate(-100%, -100%) translate3d(0, 0, 0);
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
    25% {
        -webkit-transform: translate(-100%, -100%) translate3d(100%, 0, 0);
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
    50% {
        -webkit-transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
    75% {
        -webkit-transform: translate(-100%, -100%) translate3d(0, 100%, 0);
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate(-100%, -100%) translate3d(0, 0, 0);
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

@keyframes blob-bounce {
    0% {
        -webkit-transform: translate(-100%, -100%) translate3d(0, 0, 0);
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
    25% {
        -webkit-transform: translate(-100%, -100%) translate3d(100%, 0, 0);
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
    50% {
        -webkit-transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
    75% {
        -webkit-transform: translate(-100%, -100%) translate3d(0, 100%, 0);
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate(-100%, -100%) translate3d(0, 0, 0);
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

.content {
    margin-top: 20px;
    clip-path: inset(0px);
}

abbr[title] {
    text-decoration: none !important;
}
ul .nav-tabs:last-child .nav-link{
   color: black;
}
.bg {
    background-image: linear-gradient(to bottom, #87CEFA, #00FFFF, #87CEFA);
}
.lm{
    color: #1389a9;
}

.menu-list .menu-item.active {
    background-color: rgba(51, 100, 112, 0.42) !important;
}

.menu-list, .content-card, .border-blue, .grey-border {
    border-color: #eaefef !important;
}

.disabled-day-availability {
    color: #000000 !important;
    opacity: 0.25 !important;
    pointer-events: none;
    background-color: transparent;
    cursor: not-allowed!important;
}

.reservations-calendar.react-calendar__tile,.react-calendar__month-view__days__day {
    padding: 6px 4px !important;
    /*background-color: rgba(255, 255, 255, 0.42) !important;*/
}

.reservations-calendar  .react-calendar__tile--now {
    background-color: transparent;
}

.reservations-calendar .react-calendar__month-view__days__day.disabled {
    background-color: transparent !important;
    opacity: 50% !important;
    color: black !important;
}

.reservations-calendar {
    background-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 1px 5px 5px rgba(163, 169, 169, 0.6);
    padding: 10px 7px;
    font-size: 12px;
    max-width: 300px !important;
}

@media screen and (max-width: 360px) {
    .reservations-calendar {
        width: 100%;
    }
}
.reservations-calendar .react-calendar__tile--active {
    color:black;
    border-radius: 10px;
    background-color: rgba(134, 136, 136, 0.8) !important;
}
.reservations-calendar  .react-calendar__month-view__weekdays__weekday {
 font-size: 11px;
}
.reservations-calendar .react-calendar__tile.disabled {
    background-color: transparent !important;
}
.reservations-calendar .react-calendar__month-view__days__day--weekend {
    color: black !important;
}
.reservations-calendar  .react-calendar__tile:enabled:hover {
    border-radius: 10px;
}
.reservations-calendar .react-calendar__tile, .react-calendar__month-view__days__day {
    padding: 8px 4px!important;
}
.reservations-calendar .react-calendar__month-view__days__day--weekend.disabled {
    color: black !important;
    opacity: 75%;
}
.reservations-calendar .react-calendar__navigation {
    margin-bottom: 0.2em;
}
.reservations-calendar  .react-calendar__navigation button:disabled {
    background-color: transparent;
    color:black !important;
}
.reservations-calendar .react-calendar__navigation__label {
    font-size: 15px;
}
.reservations-calendar .react-calendar__navigation .react-calendar__navigation__prev-button {
    border-radius: 20px 0 0 0 ;
    font-size: 30px;
}
.reservations-calendar .react-calendar__navigation .react-calendar__navigation__next-button {
    border-radius: 0 20px 0 0 ;
    font-size: 30px;
}
.content-card {
    box-shadow: 0 4px 6px rgba(193, 205, 211, 0.5), 0 2px 4px rgba(245, 246, 246, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
}

.box_shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}

.scrollable-y {
    height: calc(100vh - 20px);
    overflow-x: hidden;
}

.w-fit-content {
    width: fit-content;
}

.image-container {
    position: relative;
    display: inline-block;
}

/* Style the image */
.image-container img {
    max-width: 100%;
    height: auto;
}
.overlay-number {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -35%);
    font-size: 17px;
    font-weight: bold;
    color: black;
    /*background-color: rgba(0, 0, 0, 0.5); !* Adjust opacity and color *!*/
    padding: 8px 12px;
    border-radius: 5px;
}

/* Text */
.info-text, .info-text-lg {
    opacity: 70%;
}
.info-text {
    font-size : 14px;
}
.info-text-lg {
    font-size : 17px;
}
.progress-text {
    opacity: 85%;
    font-weight: 600;
    font-style: oblique;
}
.progress-text {
    font-size : 13px;
}
.progress-text-lg {
    font-size : 16px;
}
/* Text */

/* Nav Tabs */
.nav-tabs .nav-link {
    color: black!important;
}
/* Nav Tabs */

/* WebKit (Safari, Chrome, Opera) */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Change the background color here */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the thumb color here */
    border-radius: 6px;
}

/* Opacity Utility Classes */
.opacity-30 {
    opacity: 0.3;
}
.opacity-35 {
    opacity: 0.35;
}
.opacity-40 {
    opacity: 0.4;
}
/* Opacity Utility Classes */

/* Height and Width Utility Classes */
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.mw-200px {
    max-width: 200px;
}
.mw-250px {
    max-width: 250px;
}
.mw-300px {
    max-width: 300px;
}
.mw-330px {
    max-width: 330px;
}
.mw-350px {
    max-width: 350px;
}
.mnw-350px {
    min-width: 450px;
}
.mnw-350px {
    min-width: 450px;
}
.mw-850px {
    max-width:850px;
}
.mh-100 {
    max-height: 100%;
}
.mh-75 {
    max-height: 75%;
}
.h-10 {
    height: 10%;
}
.h-77 {
    height: 77%;
}
.h-85 {
    height: 85%;
}
.h-88 {
    height: 88%;
}
.h-90 {
    height: 90%;
}
.h-95 {
    height: 95%;
}
.mh-400px {
    max-height: 400px;
}
.mh-580px {
    max-height: 580px;
}
.mh-600px {
    max-height: 600px;
}
.mh-615px {
    max-height: 615px;
}
.mh-660px {
    max-height: 660px;
}
.mh-720px {
    max-height: 720px;
}
.vh-100-70px {
    height: calc(100vh - 70px);
}
/* Height Utility Classes */
/** {*/
/*    z-index: 2;*/
/*}*/
.bold-info-text {
    font-weight: 600;
    font-size: 13px;
    color: black;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 40%;
    /*filter: brightness(1) contrast(1); !* Adjust the values as needed *!*/
    object-fit: cover; /* Adjust how the video is scaled to cover the container */
    z-index: 0;
}
/* Loading Bar Animation */
@keyframes loadbar {
    0%,to { left: 0;  right: 80% }
    25%,75% { left: 0; right: 0 }
    50% { left: 80%; right: 0 }
}
.gg-loadbar,
.gg-loadbar::before {
    display: block;
    box-sizing: border-box;
    height: 4px
}
.gg-loadbar {
    position: relative;
    transform: scale(300%);
    width: 25px
}
.gg-loadbar::before {
    content: "";
    position: absolute;
    border-radius: 4px;
    background: currentColor;
    animation: loadbar 2s cubic-bezier(0,0,.58,1) infinite
}
@keyframes spinneralt {
    0% { transform: rotate(0deg) }
    to { transform: rotate(359deg) }
}
.gg-spinner-alt {
    transform: scale(100%)
}
.gg-spinner-alt,
.gg-spinner-alt::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}
.gg-spinner-alt::before {
    content: "";
    position: relative;
    border-radius: 100px;
    animation: spinneralt 1s cubic-bezier(.6,0,.4,1) infinite;
    border: 3px solid transparent;
    border-top-color: currentColor
}
.blur-10px {
    backdrop-filter: blur(2px);
}

.img-container {
    /* Set the background image */
    background-image: url("../Images/bg_image.jpg");

    /* Make the background image cover the entire viewport */
    background-size: cover;

    /* Center the background image */
    background-position: center;

    /* Ensure the background image doesn't repeat */
    background-repeat: no-repeat;

    /* Specify a background color in case the image doesn't load or cover the entire screen */
    background-color: #f0f0f0;

    /* Set a fixed background attachment, or you can use 'scroll' for a scrolling background */
    background-attachment: fixed;
}

.content-card .btn {
    background-color: rgba(255, 255, 255, 0.85);
}
.mobile-menus-tabs:before {
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    backdrop-filter: blur(25px);
}
.fw-350 {
 font-weight: 350;
}
.reservation-finalize-view-text {
    font-size: 14px;
}
@media screen and (min-width: 1200px) {
    .reservation-finalize-view-text {
        font-size: 15px;
    }
}
.bg-white-0_55 {
    background-color: rgba(255, 255, 255, 0.55);
}
.bg-white-0_75 {
    background-color: rgba(255, 255, 255, 0.75);
}
.bg-white-0_85 {
    background-color: rgba(255, 255, 255, 0.85);
}
.bg-white-0_90 {
    background-color: rgba(255, 255, 255, 0.85);
}

/* WebKit (Safari, Chrome, Opera) */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Change the background color here */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the thumb color here */
    border-radius: 6px;
}

@keyframes flash {
    0% {
        background-color: inherit; /* Use the default color */
    }
    50% {
        background-color: #daba64; /* Change to the flashing color */
    }
    100% {
        background-color: inherit; /* Return to the default color */
    }
}

.flash-animation {
    animation: flash 1.6s infinite; /* Adjust duration as needed */
}
